@navbarColor: rgba(26, 188, 156, 0.97);
@navbarHeight: 51px; // koppos master css by Adha Bakhtiar
@sidebar_width: 200px;
@sidebar_background: #34495e;
@sidebar_hover_background: rgba(51, 51, 51, 0.32) !important;
body, html {
    position: relative;
    height: 100%;
}

#master {
    h1, h2, h3, h4, h5 {
        &.devided {
            margin: 10px 0px 30px 0px;
            border-bottom: 1px solid #cdcdcd;
            padding-bottom: 5px;
        }
    }
    table.table.table-middle td{
        vertical-align: middle;
    }
    nav.navbar-inverse {
        background: @navbarColor;
        border-color: darken(@navbarColor, 5%);
        & .navbar-nav > li > a {
            color: #fff;
        }
        & .navbar-nav > .open > a {
            &:hover, &:focus {
                background: darken(@navbarColor, 5%);
            }
        }
        .dropdown-menu > li > a {
            &:hover, &:focus {
                color: #fff;
                text-decoration: none;
                background: @navbarColor;
            }
        }
    }
    #sidebar {
        z-index: 1031;
        li.active a {
            background: rgba(26, 188, 156, 0.97);
        }
    }
    .navbar-brand {
        width: 200px;
        padding: 10px 0;
        margin-bottom: 15px;
        > .brand-icon {
            display: inline-block;
            font-size: 25px;
            bottom: 10px;
            position: relative;
            color: rgba(255, 255, 255, 0.75);
            margin-left: 10px;
        }
        > .brand-title {
            display: inline-block;
            p {
                font-size: 12px;
                color: rgba(255, 255, 255, 0.75);
                margin: 0;
            }
        }
    }
    #navbar > .container-fluid {
        padding-left: 0;
    }
    .navbar-brand {}
    .master-container {
        position: relative;
        padding-bottom: 20px;
        min-height: 100%;
    }
    .content-container {
        margin-top: @navbarHeight;
        min-height: 100%;
        position: relative;
        > div {
            padding-top: 1px;
            padding-bottom: 10px;
        }
    }
    .footer-container {
        display: block;
        .footer {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 100%;
            padding-left: 0;
            background: #f1f1f1;
        }
    }
    .pull-left {
        float: left;
    }
    .content-main, .footer-container {
        width: 100%;
    }
    body, html {
        height: 100%;
    }
    .btn.sidebar-toggler {
        background: transparent;
        border: 1px solid darken(@navbarColor, 3%);
        position: relative;
        top: 8px;
        left: 2px;
        &:hover {
            background: darken(@navbarColor, 3%);
        }
    }
    .sidebar-toggle {
        border: 0;
        background: transparent;
        margin-top: 8px;
        margin-left: 30px;
        margin-bottom: 8px;
        padding: 9px 10px;
        float: left;
        position: relative;
        display: inline-block;
        &:hover {
            background-color: rgba(26, 188, 156, 0.97);
        }
    }
    .content-main, nav.sidebar {
        -webkit-transition: opacity 200ms ease-out;
        -moz-transition: opacity 200ms ease-out;
        -o-transition: opacity 200ms ease-out;
        transition: opacity 200ms ease-out;
    }
    nav.sidebar {
        opacity: 0;
        z-index: 1000;
        position: fixed;
        height: 100%;
        background: rgba(0, 0, 0, 0.45);
        margin-left: -@sidebar_width;
        float: left;
        left: 0;
        transition: left 0.2s ease;
        &.active {
            width: 100%;
            opacity: 1;
        }
        &.collapsed {
            left: -200px;
        }
        > .sidebar-content {
            width: @sidebar_width;
            margin: 0;
            z-index: 1000;
            position: fixed;
            min-height: 100%;
            top: 0;
            overflow: hidden;
            > .sidebar-main {
                position: absolute;
                overflow: visible;
                height: ~"calc(100% - 190px)";
            }
        }
        > .sidebar-default {
            background: @sidebar_background;
        }
        .sidebar-footer {
            color: #fff;
            position: absolute;
            bottom: 0;
            background: darken(@sidebar_background, 10%);
            box-shadow: 1px 1px 1px #333;
            > ul {
                list-style: none;
                > li {
                    border-top: 1px solid darken(@sidebar_background, 10%);
                    border-left: 1px solid darken(@sidebar_background, 15%);
                    display: inline;
                    float: left;
                    width: 50px;
                    &:first-child {
                        border-left: none;
                    }
                    > a {
                        padding-right: 0;
                        > * {
                            margin: 0 auto;
                        }
                        &:hover {
                            background: rgba(26, 188, 156, 0.97);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    nav.sidebar.active {
        margin-left: 0;
    }
    nav.sidebar a {
        padding-right: 13px;
        color: #fff;
    }
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        padding: 0;
        background: darken(@sidebar_background, 10%);
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        li {
            a {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 25px;
            }
            &:before {
                content: "";
                border-left: 1px dotted #fff;
                position: absolute;
                height: 100%;
            }
        }
    }
    nav.sidebar .container-fluid, nav.sidebar .navbar-collapse {
        padding: 0;
    }
    nav.sidebar ul {
        & li {
            width: 100%;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    nav.sidebar:hover {
        // margin-left: 0px;
    }
    .forAnimate {
        opacity: 0;
    }
    nav.sidebar .navbar-nav {
        margin: 0;
    }
    // fix toast position
    .toast-top-right-fix {
        top: @navbarHeight;
        right: 0;
    }
    form {
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            padding-left: 0;
        }
    }
    @media (min-width: 765px) {
        #navbar {
            padding-left: 200px;
        }
        .content-main, .footer-container {
            padding-left: 50px;
            transition: padding-left 0.2s ease;
            &.expanded {
                padding-left: 0;
            }
        }
        nav.sidebar {
            .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        .navbar > .container-fluid .navbar-brand, nav.sidebar.navbar.sidebar > .container .navbar-brand {
            margin-left: 0;
        }
        nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
            width: 100%;
            margin-left: 0;
        }
        nav.sidebar .sidebar-header {
            min-height: calc(@navbarHeight + 30);
            background: @sidebar_background;
            > .sidebar-avatar {
                min-height: 150px;
                padding: 10px;
                position: relative;
                > img {
                    width: 50px;
                    height: 50px;
                }
                > .user-info {
                    color: #fff;
                    display: inline-block;
                    margin-left: 10px;
                    position: relative;
                    top: 10px;
                    > span {
                        font-size: 11px;
                    }
                    > h2 {
                        font-size: 1.1em;
                        margin: 5px 0;
                    }
                }
            }
        }
        nav.sidebar {
            margin-left: -160px;
            margin-bottom: 0;
            opacity: 1;
            > .sidebar-content {
                width: @sidebar_width;
            }
            &:hover {
                margin-left: 0;
            }
        }
        .sidebar-toggle {
            display: none;
        }
    }
    @media (min-width: 1330px) {
        #navbar {
            padding-left: @sidebar_width;
        }
        .content-main, .footer-container {
            padding-left: @sidebar_width;
            transition: padding-left 0.2s ease;
            &.expanded {
                padding-left: 0;
            }
        }
        .sidebar-toggle {
            display: none;
        }
        nav.sidebar {
            opacity: 1;
            margin-left: 0;
            float: left;
            > .sidebar-content {
                width: @sidebar_width;
            }
            .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        nav.sidebar .forAnimate {
            opacity: 1;
        }
    }
    nav.sidebar .dropdown-menu > li > a:focus, nav.sidebar .dropdown-menu > li > a:hover, nav.sidebar .nav .open > a, nav.sidebar .nav .open > a:focus, nav.sidebar .nav .open > a:hover, nav.sidebar .navbar-nav > li > a:focus, nav.sidebar .navbar-nav > li > a:hover {
        background: rgba(26, 188, 156, 0.97);
        color: #fff;
    }
    nav:hover .forAnimate {
        opacity: 1;
    }
    section {
        padding-left: 15px;
    }
    .table-button-container {
        min-width: 90px;
    }
}